doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Javascriptový framework AngularJS

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h4 Aplikačné Architektúry Softvérových Systémov 2015
        h2 Javascriptový framework AngularJS
        h3 Richard Filipčík &amp; Martin Šustek

      section
        h3 Témy
        ul
          li data binding
          li controllers &amp; scope
          li dependency injection
          li direktívy
          li services &amp; factories
          li MEAN stack

      section
        h3 Hello World
        pre
          code.language-markup.
            &lt;!doctype html&gt;
            &lt;html ng-app&gt;
              ...
              &lt;body&gt;
                &lt;input ng-model="username"&gt;
                  Hello &#123;&#123;username&#125;&#125;
                &lt;script src="js/angular.js"&gt;&lt;/script&gt;
              &lt;/body&gt;
            &lt;/html&gt;

      section
        h3 Hello World
        pre
          code.language-markup.
            &lt;!doctype html&gt;
            &lt;html ng-app&gt;
              ...
              &lt;body&gt;
                &lt;input ng-model="username"&gt;
                  Hello &#123;&#123;username&#125;&#125;
                &lt;script src="js/angular.js"&gt;&lt;/script&gt;
              &lt;/body&gt;
            &lt;/html&gt;
        br
        .app(ng-app="helloWorld")
          .input-group
            span.input-group-addon#label Pozdraviť:
            input.form-control(
              type="text"
              ng-model="username"
              placeholder="Osoba"
              aria-describedby="label"
            )
          p Hello&nbsp;
            span.result {{username}}!

      section
        div.content
          span.file myapp/main.js
          pre
            code.language-javascript module = angular.module('myapp', [])

      section
        h2 Controllers, Scope &amp; Dependency Injection

      section
        pre
          code.language-markup.
            &lt;!doctype html&gt;
            &lt;html ng-app="myapp"&gt;
              ...
              &lt;body&gt;
                &lt;div ng-controller="UserController"&gt;
                  &lt;input ng-model="username"&gt;
                  Hello &#123;&#123;username&#125;&#125;
                &lt;/div&gt;

                &lt;script src="js/angular.js"&gt;&lt;/script&gt;
                &lt;script src="myapp/main.js"&gt;&lt;/script&gt;
                &lt;script src="myapp/controllers.js"&gt;&lt;/script&gt;
              &lt;/body&gt;
            &lt;/html&gt;

      section
          .content.nofade
            span.file myapp/controllers.js
            pre(data-line="5")
              code.language-javascript
                | angular.module('myapp')
                |   .controller('UserController', function($scope) {
                |     $scope.username = "Homer Simpson";
                | });
            .app.myapp1
              div(ng-controller="UserController")
                .input-group
                  span.input-group-addon#label Pozdraviť:
                  input.form-control(
                    type="text"
                    ng-model="username"
                    aria-describedby="label"
                  )
                p Hello&nbsp;
                  span.result {{username}}!

      section
        .content.nofade
          span.file myapp/controllers.js
          pre(data-line="5-7")
            code.language-javascript
              | angular.module('myapp')
              |   .controller('UserController', function($scope, $timeout){
              |     $timeout(function() {
              |       $scope.username = "Charles Montgomery Burns";
              |     }, 3000);
              |   });
          .app.myapp2
            div(ng-controller="UserController")
                .input-group
                  span.input-group-addon#label Pozdraviť:
                  input.form-control(
                    type="text"
                    ng-model="username"
                    aria-describedby="label"
                  )
                p Hello&nbsp;
                  span.result {{username}}!

      section
        .content.nofade
          pre
            code.language-markup
              | &lt;div ng-controller="UserController"&gt;
              |   &lt;button ng-click="setUsername()"&gt;Set username&lt;/button&gt;
              |   &lt;button ng-click="setUsername('Maggie')"&gt;Set Maggie&lt;/button&gt;
              |   &lt;input ng-model="username"&gt;
              |   Hello &#123;&#123;username&#125;&#125;
              | &lt;/div&gt;
          pre(data-line="4-8")
            code.language-javascript
              | angular.module('myapp')
              |   .controller('UserController', funtion($scope){
              |     $scope.setUsername = function(username){
              |       $scope.username = username ? username : "Lisa";
              |     }
              |   });

      section
        .content.nofade
          pre
            code.language-markup
              | &lt;div ng-controller="UserController"&gt;
              |   &lt;button ng-click="setUsername()"&gt;Set username&lt;/button&gt;
              |   &lt;button ng-click="setUsername('Maggie')"&gt;Set Maggie&lt;/button&gt;
              |   &lt;input ng-model="username"&gt;
              |   Hello &#123;&#123;username&#125;&#125;
              | &lt;/div&gt;
        .app.myapp3
          div(ng-controller="UserController")
            .row
              .input-group
                span.input-group-addon#label Pozdraviť:
                input.form-control(
                  type="text"
                  ng-model="username"
                  aria-describedby="label"
                )
            .row Hello&nbsp;
              span.result {{username}}!
            .row
              .col-lg-4.col-lg-offset-1
                .btn.btn-block.btn-primary(ng-click="setUsername()") setUsername()
              .col-lg-4.col-lg-offset-1
                .btn.btn-block.btn-primary(ng-click="setUsername('Maggie')") setUsername('Maggie')

      section
        .content.nofade
          img#glue-image(src="images/glue.png")

    script(src='build/build.js')