doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Javascriptový framework AngularJS
    link(rel="shortcut icon", type="image/png", href="images/favicon.ico")
    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h4 Aplikačné Architektúry Softvérových Systémov 2015
        h2 Javascriptový framework AngularJS
        h3 Richard Filipčík &amp; Martin Šustek

      section
        h3 História
        ul
          //li vznikol vo firme Google v roku 2009
          //li prvý JS framework využívajúci MVVM model
          //li tvorca sa stavil so šéfom, zredukoval LOC o 80%
          li Vytvorený v roku 2009 Michaelom Heverym a Adamom Abronsom v Brat Tech LLC.
          li Spočiatku mal komerčné zameranie, od čoho sa upustilo a prešlo sa na MIT licenciu.
          li Abrons projekt neskôr opustil, Hevery, ktorý pracoval v Google, v ňom pokračoval s viacerými spolupracovníkmi (Igor Minár, Vojta Jína).
          li V roku 2012 vydaná verzia 1.0.
          li Google dnes projekt zastrešuje, vývoj predovšetkým vďaka komunite.
        img#team-image(src="images/team.jpg")

      section
        h3 História
        ul
          li Celý framework napísaný v JavaScripte.
          li Prvý JS framework využívajúci MVVM model.
          li Templatovanie pomocou HTML5 a CSS.
          li Rozšíriteľný prostredníctvom modulov.

      section
        h3 Hello World
        pre
          code.language-markup
            | &lt;!doctype html&gt;
            | &lt;html ng-app&gt;
            |   ...
            |   &lt;body&gt;
            |     &lt;input ng-model="username"&gt;
            |       Hello &#123;&#123;username&#125;&#125;
            |     &lt;script src="js/angular.js"&gt;&lt;/script&gt;
            |   &lt;/body&gt;
            | &lt;/html&gt;
        br
        .app(ng-app="helloWorld")
          .input-group
            span.input-group-addon#label Pozdraviť:
            input.form-control(
              type="text"
              ng-model="username"
              placeholder="Osoba"
              aria-describedby="label"
            )
          p Hello&nbsp;
            span.result {{username}}!

      section
        h3 Hello World
        div.content
          span.file myapp/main.js
          pre
            code.language-javascript module = angular.module('myapp', [])

      section
        h2 Controllers, Scope &amp; Dependency Injection

      section
        h3 Controllers
        pre
          code.language-markup
            | &lt;!doctype html&gt;
            | &lt;html ng-app="myapp"&gt;
            |   ...
            |   &lt;body&gt;
            |     &lt;div ng-controller="UserController"&gt;
            |       &lt;input ng-model="username"&gt;
            |       Hello &#123;&#123;username&#125;&#125;
            |     &lt;/div&gt;
            |     &lt;script src="js/angular.js"&gt;&lt;/script&gt;
            |     &lt;script src="myapp/main.js"&gt;&lt;/script&gt;
            |     &lt;script src="myapp/controllers.js"&gt;&lt;/script&gt;
            |   &lt;/body&gt;
            | &lt;/html&gt;

      section
        h3 Controllers
        .content.nofade
          span.file myapp/controllers.js
          pre(data-line="5")
            code.language-javascript
              | angular.module('myapp')
              |   .controller('UserController', function($scope) {
              |     $scope.username = "Homer Simpson";
              | });
          .app.myapp1
            div(ng-controller="UserController")
              .input-group
                span.input-group-addon#label Pozdraviť:
                input.form-control(
                  type="text"
                  ng-model="username"
                  aria-describedby="label"
                )
              p Hello&nbsp;
                span.result {{username}}!

      section
        h3 Dependency injection
        .content.nofade
          span.file myapp/controllers.js
          pre(data-line="5-7")
            code.language-javascript
              | angular.module('myapp')
              |   .controller('UserController', function($scope, $timeout){
              |     $timeout(function() {
              |       $scope.username = "Charles Montgomery Burns";
              |     }, 3000);
              |   });
          .app.myapp2
            div(ng-controller="UserController")
                .input-group
                  span.input-group-addon#label Pozdraviť:
                  input.form-control(
                    type="text"
                    ng-model="username"
                    aria-describedby="label"
                  )
                p Hello&nbsp;
                  span.result {{username}}!

      section
        h3 Scope
        .content.nofade
          img#glue-image(src="images/glue.png")

      section
        h3 Scope
        .content.nofade
          pre
            code.language-markup
              | &lt;div ng-controller="UserController"&gt;
              |   &lt;button ng-click="setUsername()"&gt;Set username&lt;/button&gt;
              |   &lt;button ng-click="setUsername('Maggie')"&gt;Set Maggie&lt;/button&gt;
              |   &lt;input ng-model="username"&gt;
              |   Hello &#123;&#123;username&#125;&#125;
              | &lt;/div&gt;
          pre(data-line="4-8")
            code.language-javascript
              | angular.module('myapp')
              |   .controller('UserController', funtion($scope){
              |     $scope.setUsername = function(username){
              |       $scope.username = username ? username : "Lisa";
              |     }
              |   });

      section
        h3 Scope
        .content.nofade
          pre
            code.language-markup
              | &lt;div ng-controller="UserController"&gt;
              |   &lt;button ng-click="setUsername()"&gt;Set username&lt;/button&gt;
              |   &lt;button ng-click="setUsername('Maggie')"&gt;Set Maggie&lt;/button&gt;
              |   &lt;input ng-model="username"&gt;
              |   Hello &#123;&#123;username&#125;&#125;
              | &lt;/div&gt;
        .app.myapp3
          div(ng-controller="UserController")
            .row
              .input-group
                span.input-group-addon#label Pozdraviť:
                input.form-control(
                  type="text"
                  ng-model="username"
                  aria-describedby="label"
                )
            .row Hello&nbsp;
              span.result {{username}}!
            .row
              .col-lg-4.col-lg-offset-1
                .btn.btn-block.btn-primary(ng-click="setUsername()") setUsername()
              .col-lg-4.col-lg-offset-1
                .btn.btn-block.btn-primary(ng-click="setUsername('Maggie')") setUsername('Maggie')

      section
        h2 Direktívy &amp; Filtre

      section
        h2 Direktívy
        pre
          code.language-markup
            | &lt;html ng-app="myapp"&gt;
            |   &lt;body ng-init="workers=['Homer','Lenny','Carl']"&gt;
            |     &lt;ul&gt;
            |       &lt;li ng-repeat="worker in workers"&gt; &#123;&#123;worker&#125;&#125; &lt;li&gt;
            |     &lt;/ul&gt;
            |     &lt;script src="js/angular.js"&gt;&lt;/script&gt;
            |   &lt;/body&gt;
            | &lt;/html&gt;
        .app.myapp4
          .row
            h4 Sector 7G workers:
          .row(ng-controller="App4Controller")
            div(ng-repeat="worker in workers") {{worker}}

      section
        h2 Direktívy DOPLNI MARTIN
        | Slide o definovaní vlastnej direktívy

      section
        h2 Filtre
        pre.filter-code-listing
          code.language-markup
           | &lt;html ng-app="myapp"&gt;
           |  &lt;body&gt;
           |   &lt;input type="text" ng-model="filterName"&gt;
           |   &lt;ul&gt;
           |    &lt;li ng-repeat="worker in workers &#124; filter:filterName
           |           &#124; orderBy:'name'"&gt;
           |     &#123;&#123;worker.name&#125;&#125; - &#123;&#123;worker.position&#125;&#125;&lt;li&gt;
           |   &lt;/ul&gt;
           |  &lt;/body&gt;
           | &lt;/html&gt;
        .app.myapp5
          .row
            .input-group
              span.input-group-addon#label Pracovník:
              input.form-control(
                type="text"
                ng-model="filterName"
                aria-describedby="label"
              )
          .row(ng-controller="WorkersController")
            div(ng-repeat="worker in workers | filter:filterName | orderBy:'name'") {{worker.name | uppercase}} - {{worker.position}}

      section
        h2 Services &amp; Factories DOPLNI RISO
        | Ako sa dostávajú do controllera dáta
        | Controllery môžu zdieľať službu cez DI

      section
        h2 Promises DOPLNI MARTIN
        | Ako funguje tento institut, ktory Angualr zavadza

      section
        h2 MEAN Stack
        .heading-desc (MongoDB + ExpressJS + AngularJS + Node.js)
        ul
          li <strong>M</strong>ongoDB - NoSQL databázový systém.
          li <strong>E</strong>xpressJS - framework pre vývoj webových aplikácií v Node.js.
          li <strong>N</strong>ode.js - platforma pre tvorbu serverových aplikácií.
          li Najrozumnejšie využitie Angularu.
        ul
          li.advantages Výhody
          li Všetko v JavaScripte - beží všade, kde beží JS.
          li Udržiavanie architektúry pomocou MVC/MVVM.
          li Všetky komponenty sú open-source.
          li Mohutná podpora komunity.

      section
        h3 Zhrnutie
        ul
          li Data binding
          li Controllers &amp; Scope
          li Dependency injection
          li Direktívy &amp; Filtre
          li Services &amp; Factories
          li Promises
          li MEAN stack

    script(src='build/build.js')