doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Javascriptový framework AngularJS

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h4 Aplikačné Architektúry Softvérových Systémov 2015
        h2 Javascriptový framework AngularJS
        h3 Richard Filipčík &amp; Martin Šustek

      section
        h3 Témy
        ul
          li data binding
          li controllers &amp; scope
          li dependency injection
          li direktívy
          li services &amp; factories
          li MEAN stack

      section
        h3 Hello World
        pre
          code.language-markup.
            &lt;!doctype html&gt;
            &lt;html ng-app&gt;
              ...
              &lt;body&gt;
                &lt;input ng-model="username"&gt;
                  Hello &#123;&#123;username&#125;&#125;
                &lt;script src="js/angular.js"&gt;&lt;/script&gt;
              &lt;/body&gt;
            &lt;/html&gt;

      section
        h3 Hello World
        pre
          code.language-markup.
            &lt;!doctype html&gt;
            &lt;html ng-app&gt;
              ...
              &lt;body&gt;
                &lt;input ng-model="username"&gt;
                  Hello &#123;&#123;username&#125;&#125;
                &lt;script src="js/angular.js"&gt;&lt;/script&gt;
              &lt;/body&gt;
            &lt;/html&gt;
        br
        .app(ng-app="helloWorld")
          .input-group
            span.input-group-addon#label Pozdraviť:
            input.form-control(
              type="text"
              ng-model="username"
              placeholder="Osoba"
              aria-describedby="label"
            )
          p Hello&nbsp;
            span.result {{username}}!

      section
        div.content
          span.file myapp/main.js
          pre
            code.language-javascript module = angular.module('myapp', [])

      section
        h2 Controllers, Scope &amp; Dependency Injection

      section
        pre
          code.language-markup.
            &lt;!doctype html&gt;
            &lt;html ng-app="myapp"&gt;
              ...
              &lt;body&gt;
                &lt;div ng-controller="UserController"&gt;
                  &lt;input ng-model="username"&gt;
                  Hello &#123;&#123;username&#125;&#125;
                &lt;/div&gt;

                &lt;script src="js/angular.js"&gt;&lt;/script&gt;
                &lt;script src="myapp/main.js"&gt;&lt;/script&gt;
                &lt;script src="myapp/controllers.js"&gt;&lt;/script&gt;
              &lt;/body&gt;
            &lt;/html&gt;

      section
          .content.nofade
            span.file myapp/controllers.js
            pre(data-line="5")
              code.language-javascript
                | angular.module('myapp')
                |   .controller('UserController', function($scope) {
                |     $scope.username = "Homer Simpson";
                | });
            .app.myapp1
              div(ng-controller="UserController")
                .input-group
                  span.input-group-addon#label Pozdraviť:
                  input.form-control(
                    type="text"
                    ng-model="username"
                    aria-describedby="label"
                  )
                p Hello&nbsp;
                  span.result {{username}}!

      section
        .content.nofade
          span.file myapp/controllers.js
          pre(data-line="5-7")
            code.language-javascript
              | angular.module('myapp')
              |   .controller('UserController', function($scope, $timeout){
              |     $timeout(function() {
              |       $scope.username = "Charles Montgomery Burns";
              |     }, 3000);
              |   });
          .app.myapp2
            div(ng-controller="UserController")
                .input-group
                  span.input-group-addon#label Pozdraviť:
                  input.form-control(
                    type="text"
                    ng-model="username"
                    aria-describedby="label"
                  )
                p Hello&nbsp;
                  span.result {{username}}!

      section
        h2.bullet Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    script(src='build/build.js')